In [ ]:
### load data from northwind.db to sqlite3. show the tables and their schema

In [8]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('northwind.db')

# Create a cursor object
cursor = conn.cursor()

# Query to get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# Show the schema of each table
for table in tables:
    print(f"\nSchema of table {table[0]}:")
    cursor.execute(f"PRAGMA table_info({table[0]});")
    schema = cursor.fetchall()
    for column in schema:
        print(column)

# Close the connection
conn.close()

Tables in the database:
Categories
sqlite_sequence
CustomerCustomerDemo
CustomerDemographics
Customers
Employees
EmployeeTerritories
order_details
Orders
Products
Regions
Shippers
Suppliers
Territories

Schema of table Categories:
(0, 'CategoryID', 'INTEGER', 0, None, 1)
(1, 'CategoryName', 'TEXT', 0, None, 0)
(2, 'Description', 'TEXT', 0, None, 0)
(3, 'Picture', 'BLOB', 0, None, 0)

Schema of table sqlite_sequence:
(0, 'name', '', 0, None, 0)
(1, 'seq', '', 0, None, 0)

Schema of table CustomerCustomerDemo:
(0, 'CustomerID', 'TEXT', 1, None, 1)
(1, 'CustomerTypeID', 'TEXT', 1, None, 2)

Schema of table CustomerDemographics:
(0, 'CustomerTypeID', 'TEXT', 1, None, 1)
(1, 'CustomerDesc', 'TEXT', 0, None, 0)

Schema of table Customers:
(0, 'CustomerID', 'TEXT', 0, None, 1)
(1, 'CompanyName', 'TEXT', 0, None, 0)
(2, 'ContactName', 'TEXT', 0, None, 0)
(3, 'ContactTitle', 'TEXT', 0, None, 0)
(4, 'Address', 'TEXT', 0, None, 0)
(5, 'City', 'TEXT', 0, None, 0)
(6, 'Region', 'TEXT', 0, None, 0)
(7, 'PostalCode', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'Phone', 'TEXT', 0, None, 0)
(10, 'Fax', 'TEXT', 0, None, 0)

Schema of table Employees:
(0, 'EmployeeID', 'INTEGER', 0, None, 1)
(1, 'LastName', 'TEXT', 0, None, 0)
(2, 'FirstName', 'TEXT', 0, None, 0)
(3, 'Title', 'TEXT', 0, None, 0)
(4, 'TitleOfCourtesy', 'TEXT', 0, None, 0)
(5, 'BirthDate', 'DATE', 0, None, 0)
(6, 'HireDate', 'DATE', 0, None, 0)
(7, 'Address', 'TEXT', 0, None, 0)
(8, 'City', 'TEXT', 0, None, 0)
(9, 'Region', 'TEXT', 0, None, 0)
(10, 'PostalCode', 'TEXT', 0, None, 0)
(11, 'Country', 'TEXT', 0, None, 0)
(12, 'HomePhone', 'TEXT', 0, None, 0)
(13, 'Extension', 'TEXT', 0, None, 0)
(14, 'Photo', 'BLOB', 0, None, 0)
(15, 'Notes', 'TEXT', 0, None, 0)
(16, 'ReportsTo', 'INTEGER', 0, None, 0)
(17, 'PhotoPath', 'TEXT', 0, None, 0)

Schema of table EmployeeTerritories:
(0, 'EmployeeID', 'INTEGER', 1, None, 1)
(1, 'TerritoryID', 'TEXT', 1, None, 2)

Schema of table order_details:
(0, 'OrderID', 'INTEGER', 1, None, 1)
(1, 'ProductID', 'INTEGER', 1, None, 2)
(2, 'UnitPrice', 'NUMERIC', 1, '0', 0)
(3, 'Quantity', 'INTEGER', 1, '1', 0)
(4, 'Discount', 'REAL', 1, '0', 0)

Schema of table Orders:
(0, 'OrderID', 'INTEGER', 1, None, 1)
(1, 'CustomerID', 'TEXT', 0, None, 0)
(2, 'EmployeeID', 'INTEGER', 0, None, 0)
(3, 'OrderDate', 'DATETIME', 0, None, 0)
(4, 'RequiredDate', 'DATETIME', 0, None, 0)
(5, 'ShippedDate', 'DATETIME', 0, None, 0)
(6, 'ShipVia', 'INTEGER', 0, None, 0)
(7, 'Freight', 'NUMERIC', 0, '0', 0)
(8, 'ShipName', 'TEXT', 0, None, 0)
(9, 'ShipAddress', 'TEXT', 0, None, 0)
(10, 'ShipCity', 'TEXT', 0, None, 0)
(11, 'ShipRegion', 'TEXT', 0, None, 0)
(12, 'ShipPostalCode', 'TEXT', 0, None, 0)
(13, 'ShipCountry', 'TEXT', 0, None, 0)

Schema of table Products:
(0, 'ProductID', 'INTEGER', 1, None, 1)
(1, 'ProductName', 'TEXT', 1, None, 0)
(2, 'SupplierID', 'INTEGER', 0, None, 0)
(3, 'CategoryID', 'INTEGER', 0, None, 0)
(4, 'QuantityPerUnit', 'TEXT', 0, None, 0)
(5, 'UnitPrice', 'NUMERIC', 0, '0', 0)
(6, 'UnitsInStock', 'INTEGER', 0, '0', 0)
(7, 'UnitsOnOrder', 'INTEGER', 0, '0', 0)
(8, 'ReorderLevel', 'INTEGER', 0, '0', 0)
(9, 'Discontinued', 'TEXT', 1, "'0'", 0)

Schema of table Regions:
(0, 'RegionID', 'INTEGER', 1, None, 1)
(1, 'RegionDescription', 'TEXT', 1, None, 0)

Schema of table Shippers:
(0, 'ShipperID', 'INTEGER', 1, None, 1)
(1, 'CompanyName', 'TEXT', 1, None, 0)
(2, 'Phone', 'TEXT', 0, None, 0)

Schema of table Suppliers:
(0, 'SupplierID', 'INTEGER', 1, None, 1)
(1, 'CompanyName', 'TEXT', 1, None, 0)
(2, 'ContactName', 'TEXT', 0, None, 0)
(3, 'ContactTitle', 'TEXT', 0, None, 0)
(4, 'Address', 'TEXT', 0, None, 0)
(5, 'City', 'TEXT', 0, None, 0)
(6, 'Region', 'TEXT', 0, None, 0)
(7, 'PostalCode', 'TEXT', 0, None, 0)
(8, 'Country', 'TEXT', 0, None, 0)
(9, 'Phone', 'TEXT', 0, None, 0)
(10, 'Fax', 'TEXT', 0, None, 0)
(11, 'HomePage', 'TEXT', 0, None, 0)

Schema of table Territories:
(0, 'TerritoryID', 'TEXT', 1, None, 1)
(1, 'TerritoryDescription', 'TEXT', 1, None, 0)
(2, 'RegionID', 'INTEGER', 1, None, 0)

In [10]:
# Connect to the SQLite database
conn = sqlite3.connect('northwind.db')
cursor = conn.cursor()

# Rename the table
cursor.execute("ALTER TABLE order_details RENAME TO Order_Details;")

# Commit the changes and close the connection
conn.commit()
conn.close()

OperationalError: there is already another table or index with this name: Order_Details

In [7]:
# Connect to the SQLite database
conn = sqlite3.connect('northwind.db')
cursor = conn.cursor()

# Function to rename tables and columns to lower case
def rename_to_lowercase(cursor):
    # Get the list of tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]
        new_table_name = table_name.lower()

        # Rename the table if the new name is different
        if table_name != new_table_name:
            cursor.execute(f"ALTER TABLE {table_name} RENAME TO {new_table_name};")

        # Get the schema of the table
        cursor.execute(f"PRAGMA table_info({new_table_name});")
        schema = cursor.fetchall()

        for column in schema:
            column_name = column[1]
            new_column_name = column_name.lower()

            # Rename the column if the new name is different
            if column_name != new_column_name:
                cursor.execute(f"ALTER TABLE {new_table_name} RENAME COLUMN {column_name} TO {new_column_name};")

# Rename tables and columns to lower case
rename_to_lowercase(cursor)

# Commit the changes and close the connection
conn.commit()
conn.close()

OperationalError: there is already another table or index with this name: categories